window {
    background-color: rgba(12, 112, 152, 0.2);
}

button {
    color: #000;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 70%;
    border-style: none;
    background-color: rgba(30, 30, 46, 0);
    border: none;
    border-radius: 50px;
    box-shadow: none;
    text-shadow: none;
    transition: all 0.3s ease;
    font-family: "Hurmit nerd font";
    font-weight: 900;
    font-size: 40px;
    min-width: 300px;
}

button:focus, button:active, button:hover {
    background-color: rgba(49, 50, 68, 0.5);
}

/* Individual Button Icons */
#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/log-out.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}
